.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 100px;
}

body {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fillustrations%2Fgreen-background-pattern&psig=AOvVaw157csov6Ylp9hEa1V2FMtl&ust=1710081818331000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCNjY_q2154QDFQAAAAAdAAAAABAE') 
  
}

.wrapper {
  background-color: #edfaf0;
  padding: 50px;
  border-radius: 10px;
}

.pop {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rob {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.input_box {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid green;
  margin: 10px;
  width: 100%;
  outline: none;
}

.input_box ::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.btn-success {
  background-color: #057a2c;
  border-radius: 10px;
  border: none;
}
.btn-success:hover {
  background-color: #050505;
}

.name {
  color: #078a07;
  text-transform: uppercase;
}


.problem h4{
     color: #00a339;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
  
}